/*
 * Copyright 2024 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	mbox-consumer {
		compatible = "vnd,mbox-consumer";
		mboxes = <&cpuapp_bellboard 18>, <&cpurad_bellboard 12>;
		mbox-names = "tx", "rx";
	};

	test_gpio {
		compatible = "gpio-keys";
		test0: test0 {
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		};
		test1: test1 {
			gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		};
		test2: test2 {
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		};
	};

};

&cpuapp_bellboard {
	status = "okay";
};

&cpurad_bellboard {
	status = "okay";
	/* When other cpurad_bellboard channel is selected for RX,
	 * make sure it's enabled in the interrupt mask.
	 * See `nordic,interrupt-mapping` property.
	 */
};



// &pinctrl {
// 	gpio1_default: gpio1_default {
// 		group1 {
// 			pins = <4>;
// 			function = "output";
// 		};
// 	};
// };

// &gpio1 {
// 	status = "okay";
// 	pinctrl-0 = <&gpio1_default>;
// 	pinctrl-names = "default";
// };
